@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Take a Greater Good Quiz!</h1>
        <button onclick="myFunction()">Take Quiz</button>
        <script>
            function myFunction() {
                location.replace("http://matchingskilllevel-dev.us-west-2.elasticbeanstalk.com/Quizs")
            }
        </script>
        @*<p>Learn about <a href="http://matchingskilllevel-dev.us-west-2.elasticbeanstalk.com/Quizs">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
