
@{
    ViewData["Title"] = "Result";
}

<!DOCTYPE html>

<html>
<head>
    <title>Please find the your score!!</title>
</head>
<body>
    <h3>Congratulations you've completed the test and your scores are:</h3>
    Score: @ViewBag.score
</body>
</html>

<div>
    <button onclick="goBack()">Re- take the test</button>
    </div>

<script>
function goBack() {
  window.history.back();
}
</script>



